$background-color-green-0: #f5428c;
$background-color-green-1: #f5428c;
$background-color-green-2: #f5428c;
$background-color-blue-0: #0094d4;
$background-color-black-0: #222222;
$background-color-hover-0: #f5b24c;
$color-price-0: #f08127;
$color-heading-0: #f5428c;
$color-0: #fff;
