@import '../variable.scss';
.no-active{
  color: black !important;
  cursor: text !important;
  pointer-events: none;
}
a:focus {
  color: $color-heading-0;
}
.white-block {
  background: #fff;
}
.oxygen-top-menu > .wrapper > .top-menu {
  background: #fff;
}
.oxygen-top-menu > .wrapper > .top-menu.main-menu-top {
  background: #fff;
}
.page-container .wpb_tabs.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab,
.page-container
  .wpb_tabs.wpb_content_element
  .wpb_tour_tabs_wrapper
  .wpb_tabs_nav
  li.ui-state-active,
.share-post .share-post-links a {
  background: #fff;
}
.lab_wpb_lookbook_carousel .lookbook-header .pager .owl-buttons .owl-next,
.lab_wpb_lookbook_carousel .lookbook-header .pager .owl-buttons .owl-prev {
  background-color: #fff;
}
.page-container
  .wpb_tabs.wpb_content_element
  .wpb_tour_tabs_wrapper
  .wpb_tabs_nav
  li.ui-state-active {
  border-color: #fff;
}
.banner,
.page-container
  .wpb_accordion.wpb_content_element
  .wpb_accordion_wrapper
  .wpb_accordion_section
  .wpb_accordion_content,
.page-container
  .wpb_accordion.wpb_content_element
  .wpb_accordion_wrapper
  .wpb_accordion_section
  .wpb_accordion_header {
  background-color: #fff;
}
.page-container .wpb_tabs.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav li {
  border-color: #fff;
}
.main-sidebar,
.main-sidebar .search,
.main-sidebar .sidebar-inner,
.oxygen-top-menu > .wrapper > .main-menu-top.white-menu,
.panel {
  background: #fff;
}
.oxygen-top-menu > .wrapper > .top-menu-centered {
  background: #fff;
}
.page-container .lab_wpb_blog_posts .blog-posts .blog-post,
.search-results-header .row,
body .search-results .search-entry,
ul.page-numbers li.dots span,
ul.pagination li.dots span {
  background: #fff;
}
.oxygen-top-menu > .wrapper > .main-menu-top.white-menu .main .main-menu-env .nav > li .sub-menu {
  background: #fff;
}
.shop_sidebar .sidebar {
  background: #fff;
}
ul.page-numbers li a,
ul.page-numbers li span,
ul.pagination li a,
ul.pagination li span {
  background: #fff;
}
ul.page-numbers li a:hover,
ul.page-numbers li span:hover,
ul.pagination li a:hover,
ul.pagination li span:hover {
  background: #fff;
}
.blog .blog-post,
.blog .single_post,
.blog .single_post .post_img a,
.comments,
.share-post {
  background: #fff;
}
.widget_shopping_cart_content .buttons .button {
  background: #519548;
}
.widget_shopping_cart_content .buttons .button:hover {
  background: #488440;
}
.price_slider_wrapper .price_slider_amount .button {
  background: #519548;
}
.widget_shopping_cart_content .total .amount {
  color: #519548;
}
.price_slider_wrapper .price_slider .ui-slider-handle,
.price_slider_wrapper .price_slider .ui-slider-range {
  background-color: #519548;
}
a {
  color: $background-color-green-0;
}
a:hover {
  color: $background-color-green-0;
}
.wrapper .main {
  background: #eee;
}
body {
  background: #eee;
}
.header-cart {
  background: $background-color-black-0;
}
.cart-ribbon a .cart_content {
  background: $background-color-black-0;
}
.cart-ribbon a .cart_content span.bucket {
  background-color: $background-color-black-0;
}
.blog .blog-post .blog_content .post-meta .comment_text {
  color: $background-color-green-0;
}
.widget_product_search div #searchsubmit,
.widget_search div #searchsubmit {
  background: $background-color-green-0;
}
.widget_product_search div #searchsubmit:hover,
.widget_search div #searchsubmit:hover {
  background: #488440;
}
.oxygen-top-menu > .wrapper > .main-menu-top > .main .main-menu-env .nav li.current-menu-item > a,
.oxygen-top-menu
  > .wrapper
  > .main-menu-top
  > .main
  .main-menu-env
  .nav
  li.current_page_ancestor
  > a,
.oxygen-top-menu
  > .wrapper
  > .main-menu-top
  > .main
  .main-menu-env
  .nav
  ul
  li.current-menu-parent
  a {
  color: $background-color-green-0 !important;
}
ul.page-numbers li.active a,
ul.pagination li.active a {
  background: $background-color-green-0;
}
.mobile-menu .cart-items span {
  background: $background-color-green-0;
}
.mobile-menu .nav ul > li.current-menu-item > a,
.mobile-menu .nav ul > li.current-menu-parent > a,
.mobile-menu .nav ul > li.current_page_parent > a {
  color: $background-color-green-0 !important;
}
.mobile-menu .nav > li.current-menu-item > a,
.mobile-menu .nav > li.current-menu-parent > a,
.mobile-menu .nav > li.current_page_parent > a {
  color: $background-color-green-0 !important;
}
.mobile-menu .nav ul > li > a:hover {
  color: $background-color-green-0 !important;
}
.mobile-menu .nav > li > a:hover {
  color: $background-color-green-0 !important;
}
ul.page-numbers li a:hover,
ul.page-numbers li span:hover,
ul.pagination li a:hover,
ul.pagination li span:hover {
  color: $background-color-green-0;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background: $background-color-green-0 !important;
}
footer .footer_main .footer-nav ul li.current-menu-item > a,
footer .footer_main .footer-nav ul li.current-menu-parent > a,
footer .footer_main .footer-nav ul li.current_page_ancestor > a {
  color: $background-color-green-0;
}
.widget_archive li a:hover,
.widget_categories li a:hover {
  color: $background-color-green-0;
}
.product_list_widget li > .amount {
  color: $background-color-green-0;
}
.product_list_widget li ins {
  color: $background-color-green-0;
}
::selection {
  background: $background-color-green-0 !important;
}
::-moz-selection {
  background: $background-color-green-0 !important;
}
.shop .items .item-wrapper .item .description .price {
  color: $background-color-green-0;
}
.shop .items .item-wrapper .item .quick-view a {
  background: $background-color-green-0;
}
.shop .items .item-wrapper .item .description .add-to-cart-btn:hover {
  color: $background-color-green-0;
}
.btn.btn-default {
  background: $background-color-green-0;
}
.btn.btn-default:hover {
  background: $background-color-green-0;
}
.header-cart .cart-sub-total span {
  color: $background-color-green-0;
}
footer .footer_main .footer-nav ul li a:hover {
  color: $background-color-green-0;
}
.blog .single_post .post_details .author_text a {
  color: $background-color-green-0;
}
.share-post .share-post-links a:hover {
  background: $background-color-green-0;
}
.comments h1 span {
  color: $background-color-green-0;
}
.shop .items .item-wrapper .item .wish-list.wishlisted a {
  color: $background-color-green-0;
}
.comments .author_post .author_about_part .date_time_reply_text a {
  color: $background-color-green-0;
}
.comments .form-submit #submit {
  background: $background-color-green-0;
}
.comments .form-submit #submit:hover {
  background: $background-color-green-0;
}
.widget_product_search div #s:focus,
.widget_search div #s:focus {
  border-color: $background-color-green-0;
}
.oxygen-top-menu
  > .wrapper
  > .main-menu-top
  > .main
  .main-menu-env
  .nav
  > li
  .sub-menu
  > li:hover
  > a {
  color: $background-color-green-0;
}
.banner.banner-default .button_outer {
  border-color: #89c281;
}
.banner.banner-dark-red .button_outer {
  border-color: #78ba70;
}
.banner.banner-default .btn {
  background: #3e7337;
}
.banner.banner-default .btn:hover {
  background: #2c5027;
}
.banner.banner-dark-red {
  background: $background-color-green-2;
}
.banner.banner-default {
  background: $background-color-green-0;
}
.btn.btn-default.btn-bordered {
  background: 0 0;
  border-color: $background-color-green-0;
  color: $background-color-green-0;
}
.btn.btn-default.btn-bordered:hover {
  border-color: $background-color-green-2;
  color: $background-color-green-2;
}
.shop .items .item-wrapper .item .description .type a:hover {
  color: $background-color-green-2;
}
.search-results-header .row .results-text span {
  color: $background-color-green-0;
}
.search-results-header .row .results-text span {
  color: $background-color-green-0;
}
.search-results-header .row .results-text p a {
  color: $background-color-green-0;
}
body .search-results .search-entry:hover .title {
  color: $background-color-green-0;
}
.oxygen-top-menu > .wrapper > .top-menu.main-menu-top .main-menu-env > .nav > li > a:hover {
  color: $background-color-green-0;
}
.oxygen-top-menu
  > .wrapper
  > .top-menu-centered
  > .main
  .navs
  .main-menu-env
  .nav
  li.current-menu-item
  > a {
  color: $background-color-green-0 !important;
}
.oxygen-top-menu
  > .wrapper
  > .top-menu-centered
  > .main
  .navs
  .main-menu-env
  .nav
  > li
  .sub-menu
  > li:hover
  > a {
  color: $background-color-green-0;
}
.oxygen-top-menu
  > .wrapper
  > .top-menu-centered
  > .main
  .navs
  .main-menu-env
  .nav
  li.current_page_ancestor
  > a {
  color: $background-color-green-0 !important;
}
.main-sidebar ul.nav .sub-menu li:hover > a {
  color: $background-color-green-0;
}
.main-sidebar ul.nav li > a:hover {
  color: $background-color-green-0;
}
.main-sidebar ul.nav .sub-menu li.current-menu-item > a {
  color: $background-color-green-0;
}
.top-first .breadcrumbs > span:last-child {
  color: $background-color-green-0;
}
.top-first .breadcrumb-menu ul.nav li a:hover {
  color: #519548;
}
ul.page-numbers.page-numbers li .current,
ul.page-numbers.page-numbers li .current:hover,
ul.pagination.page-numbers li .current,
ul.pagination.page-numbers li .current:hover {
  background: $background-color-green-0;
}
.header-cart .cart-items .cart-item .details .title:hover {
  color: $background-color-green-0;
}
.header-cart .cart-items .cart-item .details .price-quantity .price ins,
.header-cart .cart-items .cart-item .details .price-quantity .price > .amount {
  color: $background-color-green-0;
}
.lab_wpb_lookbook_carousel .lookbook-carousel .product-item:hover .lookbook-hover-info {
  background: $background-color-green-0 !important;
}
.lab_wpb_lookbook_carousel .lookbook-carousel .owl-controls .owl-pagination .owl-page.active span {
  background: $background-color-green-0;
}
footer.footer_widgets ul li a:hover {
  color: $background-color-green-0;
}
.widget_product_search input[type='submit'],
.widget_search input[type='submit'] {
  background-color: $background-color-green-0;
}
.shop .woocommerce-checkout-review-order-table .order-total td,
.shop div.cart_totals table .order-total td {
  color: $background-color-green-0;
}
.product-featured .ribbon .ribbon-content,
.sale .ribbon .ribbon-content {
  background-color: $background-color-green-0;
}
.product-featured .ribbon .ribbon-content:after,
.sale .ribbon .ribbon-content:after {
  border-left-color: #68b15f;
}
.quantity input[type='button'] {
  background-color: $background-color-green-0;
}
.quantity input[type='button']:hover {
  background-color: $background-color-green-2;
}
.quantity input.qty {
  background-color: #5aa650;
}
.woocommerce
  .products
  .type-product
  .product-images
  .yith-add-to-wishlist
  .yith-wcwl-add-to-wishlist
  .yith-wcwl-wishlistaddedbrowse
  > a:before,
.woocommerce
  .products
  .type-product
  .product-images
  .yith-add-to-wishlist
  .yith-wcwl-add-to-wishlist
  .yith-wcwl-wishlistexistsbrowse
  > a:before {
  color: $background-color-green-0;
}
.widget_product_search [type='submit'],
.widget_search [type='submit'] {
  background-color: $background-color-green-0;
}
.woocommerce .products .type-product .product-description .price {
  color: $background-color-green-0;
}
.woocommerce .products .type-product .product-images .quick-view a {
  background-color: $background-color-green-0;
}
.woocommerce .summary .single_add_to_cart_button.button {
  background-color: $background-color-green-0;
}
.woocommerce .summary .single_add_to_cart_button.button:focus,
.woocommerce .summary .single_add_to_cart_button.button:hover {
  background-color: $background-color-green-2;
}
.woocommerce .quantity input[type='button'] {
  background-color: $background-color-green-0;
}
.woocommerce .quantity input[type='button']:hover {
  background-color: $background-color-green-2;
}
.woocommerce .quantity input.qty {
  background-color: $background-color-green-1;
}
.woocommerce .summary .price {
  color: $background-color-green-0;
}
.woocommerce .summary .product_meta > span a {
  color: $background-color-green-0;
}
.woocommerce.single-product .woocommerce-tabs .tabs > li.active a {
  border-bottom-color: $background-color-green-0;
}
.woocommerce
  .product-gallery
  .product-images
  .woocommerce-product-gallery__image
  .lightbox-trigger:hover {
  color: $background-color-green-0;
}
.button {
  background-color: $background-color-green-0;
}
.button:focus,
.button:hover {
  background-color: $background-color-green-2;
}
.woocommerce .products .type-cross-sells .product-details .price {
  color: $background-color-green-0;
}
.woocommerce .cart_totals .shop_table .order-total td,
.woocommerce .shop_table.order_details tfoot tr:last-child td:last-child .amount,
.woocommerce .shop_table.order_details tfoot tr:last-child th:last-child .amount,
.woocommerce .shop_table.woocommerce-checkout-review-order-table .order-total td {
  color: $background-color-green-0;
}
.woocommerce-order-received .woocommerce-order .woocommerce-order-overview .order strong {
  color: $background-color-green-0;
}
.woocommerce .addresses .edit {
  background-color: $background-color-green-0;
}
.woocommerce .addresses .edit:hover {
  background-color: $background-color-green-0;
}
.woocommerce.single-product #review_form .comment-form .submit {
  background-color: $background-color-green-0;
}
.main-sidebar ul.nav li.current_page_parent > a {
  color: $background-color-green-0;
}
.woocommerce .summary .group_table .woocommerce-grouped-product-list-item__price,
.woocommerce .summary .product_meta > span .sku,
.woocommerce .summary .product_meta > span .value {
  color: $background-color-green-0;
}
.woocommerce .summary .price ins {
  color: $background-color-green-0;
}
.woocommerce .shop_table.cart .product-remove {
  background-color: #eee;
}
.woocommerce .shop_table.cart .cart_item {
  border-bottom-color: #eee;
}
.woocommerce form.woocommerce-checkout .checkout-payment-method-title {
  border-top-color: #eee;
}
.woocommerce form.woocommerce-checkout .woocommerce-terms-and-conditions-wrapper {
  border-color: #eee;
}
